.App {
  text-align: center;
}

/* App.css */

.section-gradient {
  text-align: center;
}

.responsive-image {
  width: 100%;
  max-width: 300px; /* Ajusta esto según tus necesidades */
  height: auto;
}

/* Si necesitas más estilos responsivos, puedes usar media queries */

@media (max-width: 600px) {
  .responsive-image {
    max-width: 100%; /* Ajusta según tus necesidades */
  }
}
