/* App.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1{
  font-size: 7vw;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ocupa la mitad de la pantalla */
  background: linear-gradient(to bottom, #7c7c7c, #ffffff); /* Degradado de gris a blanco */
  text-align: center;
}

.section-white {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ocupa la mitad de la pantalla */
  background-color: white;
  text-align: center;
}
